.error404-container {
    width: 100%;
    display: flex;
    overflow: auto;
    min-height: 100vh;
    align-items: center;
    flex-direction: column;
}

.error404-hero {
    width: 100%;
    height: 1016px;
    display: flex;
    padding: var(--dl-space-space-threeunits);
    position: relative;
    align-self: center;
    min-height: 80vh;
    align-items: center;
    padding-top: 38px;
    flex-direction: column;
    background-size: cover;
    justify-content: center;
    background-image: linear-gradient(45deg, rgb(0, 7, 44) 24.00%, rgba(24, 48, 174, 0.95) 100.00%), url("/playground_assets/network-1500h.jpeg");
    background-position: top left, top;
}

.error404-error404 {
    color: var(--dl-color-gray-white);
    font-size: 3rem;
}

.error404-description {
    color: rgb(227, 227, 227);
    margin-top: var(--dl-space-space-twounits);
    text-align: center;
    margin-bottom: var(--dl-space-space-twounits);
}

@media(max-width: 991px) {
    .error404-hero {
        flex-direction: column;
    }
    .error404-error404 {
        text-align: center;
    }
    .error404-description {
        text-align: center;
    }
}

@media(max-width: 767px) {
    .error404-hero {
        padding-left: var(--dl-space-space-twounits);
        padding-right: var(--dl-space-space-twounits);
    }
}

@media(max-width: 479px) {
    .error404-hero {
        width: 100%;
        padding: var(--dl-space-space-twounits);
        padding-top: var(--dl-space-space-twounits);
        padding-left: var(--dl-space-space-unit);
        padding-right: var(--dl-space-space-unit);
    }
}